*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif; 
}
.productheader{
    font-size: 25px;
    color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

}
.productheader .productcontainer{
    margin:20px;

}
.productheader .productcontainer h1{
    font-weight: bold;
    
}
.productdetais {
    width:100%;
    height: 700px;

}
.productdetais .productcomtainer{
    margin: 20px;
    display: flex;
    flex-direction: row;  
    align-items: flex-start;

}
.productdetais .productcomtainer .productimage{
    width: 50%;

}
.productdetais .productcomtainer .productimage img{
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(4, 0, 0);
}
.productdetais .productcomtainer .productdetailbody{
    width: 50%;
}
.productdetais .productcomtainer .productdetailbody .productname{
    font-size: 25px;
    font-weight: 500;
    color: #121212;

}
.productdetais .productcomtainer .productdetailbody .price{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
}
.productdetais .productcomtainer .productdetailbody .moreabouts{
   margin-left: 40px;
    margin-top: 10px;
    color: #121212;

}
.productdetais .productcomtainer .productdetailbody .moreabouts h4{
    margin-left: -40px;
    font-size: 20px;
    font-weight: 500;
    color: #121212;
}
.productdetais .productcomtainer .productdetailbody .buttons .buynow{
    width: 50%;
    border: none;
    padding: 20px;
    background-color: var(--amzon-major-color);
    border-radius: 10px;
    padding: 8px;
    box-shadow:  0 0 10px rgb(4, 0, 0);
}

.productdetais .productcomtainer .productdetailbody .buttons .addtocart{
    width: 50%;
    border:none;
    color: black;
    padding: 20px;
    background-color:transparent;
    border-radius: 10px;
    padding: 8px;
    box-shadow:  0 0 10px rgb(4, 0, 0);
}
.productdetais .productcomtainer .productdetailbody .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 20px;
}